{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<body>
    <div class='bg-light shadow-md p-5'>
    <h3 align='center' class='justify-content-center'>Login to your account</h3>
    <form style='margin:5px' method='POST' autocomplete='off'>

    {% csrf_token %}
    <br>
    {% comment %} {{form.as_p}} {% endcomment %}

    {{form.username|as_crispy_field}}
    <br>
    {{form.password|as_crispy_field}}
    <br>
    <button type='submit' class='btn btn-primary pd-2 w-100'>Login &nbsp; <i class="fa fa-key" aria-hidden="true"></i></button>

    <div>
        <p>Don't have an account?</p>
        <a href="{% url 'register' %}">Signup</a>
    </div>
    </form>
    </div>
</body>
{% endblock %}
